
#game-content {
    margin-left: 120px;
}


.filler-list-overtop {
    float: left;
}
.filler-list-overtop md-input-container {
    margin-bottom: 0px;
}

#filler-list {
    clear: left;
    float: left;
    width: 150px;
    overflow: scroll;
}

#filler-list md-list-item {
    padding: 0px !important;
    min-height: 60px;

}
md-list-item button {
    padding: 0px !important;
}
md-list-item a {
    text-decoration: none !important;
}



#filler-content {
    clear: both;
}

#filler-table-grid {
    border-top: grey 1px solid;
    border-left: grey 1px solid;
    width: 100%;
}

#filler-table-grid td, .filler-cell {
    border-bottom: grey 1px solid;
    border-right: grey 1px solid;
    color: grey;
    text-shadow: 1px 2px black;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    min-width: 19px;
}


.filler-cell-color-select {
    text-align: center;
    height: 40px;
    width: 40px;
}

legend {
    border: 1px solid #e5e5e5;
}

md-input-container {
    margin-bottom: 0px;
}

.well {
    margin-bottom: 5px;
}

.footer {
    padding: 10px;
}
