.test {

}

#filler-list {
    float: left;
    width: 130px;
}

#game-content {
    margin-left: 120px;
}

#filler-content {
    clear: both;
}

#filler-table-grid {
    width: 100%;
}

#filler-table-grid td, .filler-cell{
    color: grey;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#filler-list md-list-item {
    padding: 0px !important;
    min-height: 60px;

}
md-list-item button {
    padding: 0px !important;
}
md-list-item a {
    text-decoration: none !important;
}


