<div ng-cloak id="filler-content">

    <div class="filler-list-overtop">
        <md-button class="md-raised md-primary filler-addGame-button" aria-label="Add Game" ng-click="addGameModal()">
            <md-icon md-font-library="material-icons" >add</md-icon>
            add Game
        </md-button><br/>
        <md-input-container>
            <label>Find Game</label>
            <input ng-model="searchIdGame" type="number">
        </md-input-container>
    </div>
    <md-list id="filler-list">

        <md-list-item class="md-3-line"
                      ng-repeat="game in toArray(games) | orderBy : idGame : true"
                      ng-click="selectGame(game.idGame)"
            ng-hide="searchIdGame && searchIdGame != game.idGame">
            <p>
                Game {{game.idGame}}<br/>
                {{game.dateCreated  | date:'short'}}
            </p>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>

    <md-card id="game-content">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Game {{currentIdGame}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
            <div class="card-media">
                <table id="filler-table-grid">
                    <tr ng-repeat="line in currentGame.grid.grid" ng-init="x = $index;">
                        <td ng-repeat="cell in line" ng-style="{'background-color': getColor(cell.color)}"
                            ng-click="sendMove(cell.color, currentIdGame, currentGame.currentIdPlayerTurn)"
                            ng-init="y = $index">
                            <span ng-bind-html="displayPlayer(x, y, currentGame, cell.color)"></span>
                        </td>
                    </tr>
                </table>
                <div class="spacer" style="clear: both;"></div>
            </div>
            <md-card-actions layout="column">
                <md-button class="md-icon-button" aria-label="Delete">
                    <md-icon md-font-library="material-icons" ng-click="showConfirmDelete()">delete</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Start" ng-click="startGame(currentIdGame)">
                    <i class="material-icons" ng-style="{'color' : currentGame.started ? 'green' : ''}">play_circle_filled</i>
                </md-button>
                <md-button class="md-icon-button" aria-label="Start" ng-click="displayCharColor = !displayCharColor" ng-init="displayCharColor = false">
                    <i class="material-icons">invert_colors</i>
                </md-button>

            </md-card-actions>
        </md-card-content>
        <md-card-content>
            <u>{{currentGame.players.length}} Players :</u>
            {{currentGame.started ? "" : "Game has not started"}}
            {{currentGame.started && !currentGame.finished ? "Game is in progress" : ""}}
            {{currentGame.finished ? "Game has finished" : ""}}
            | Round {{currentGame.round}} |
            Turn of Player {{currentGame.currentIdPlayerTurn + 1}} <br/>
            <div ng-repeat="player in currentGame.players"  ng-init="idPlayerTurn = $index">
                <span ng-style="{'background-color': getColor(player.playerColor)}">
                    Player {{$index + 1}} : {{player.playerName}}
                </span>

                <span>
                &nbsp;{{countPoints(currentGame, currentGame.players[idPlayerTurn].playerColor)}} Points
                </span>

                <span ng-if="isCurrentPlayer(currentIdGame, idPlayerTurn)">
                    <i class="material-icons">person</i>
                    <span ng-if="isPlayerTurn(currentGame, idPlayerTurn)">
                        It's your turn, Choose color:
                        <table>
                            <tr>
                                <td class="filler-cell-color-select"
                                    ng-repeat="(key,color) in availableColor(currentGame)"
                                    ng-style="{'background-color' : color}" class="filler-cell"
                                    ng-click="sendMove(key, currentIdGame, idPlayerTurn)"> &nbsp;{{key}} &nbsp;</td>
                            </tr>
                        </table>
                    </span>
                </span>

            </div>
            <br/>
            <legend ng-if="!currentGame.started">
                <md-input-container>
                    <label>New player name</label>
                    <input ng-model="newPlayerName" type="text" id="newPlayerName">
                </md-input-container>
                <md-button  class="md-raised md-primary" aria-label="Add Player" ng-click="addPlayer(currentIdGame)">
                    <i class="material-icons" >person_add</i>
                    Add player
                </md-button>
            </legend>

            <md-button ng-if="!currentGame.started" class="md-raised md-primary" aria-label="Start Game" ng-click="startGame(currentIdGame)">
                <md-icon class="material-icons" >play_circle_filled</md-icon>
                Star Game
            </md-button>
        </md-card-content>
    </md-card>

    <div class="spacer" style="clear: both;"></div>
</div>
